---
import type { GetStaticPaths } from "astro";
import MainLayout from "../../layouts/MainLayout.astro";
import type { PokemonListResponse } from "../../interfaces/pokemon-list-response";
import PokemonCard from "../../components/pokemons/PokemonCard.astro";

/**
 * Para hacer las consultas de cada pokémon con el id en la url
 * name y url son props que se le pasan al componente
 */
export const getStaticPaths = (async () => {
    
    const resp = await fetch("https://pokeapi.co/api/v2/pokemon?limit=151");
    const {results} = await resp.json() as PokemonListResponse;

    return results.map( result => {
        const id = result.url.split("/").at(-2);

        return {
            params: { id: id },
            props: { name: result.name, url: result.url },
        };
    });
}) satisfies GetStaticPaths

const { id } = Astro.params;
const { name, url } = Astro.props;
---
<!-- Mostramos el nombre y la imagen en una card de el pokémon seleccionado -->
<MainLayout title="Pokémon especifico">
    <section class="mt-10 mx-10 flex flex-col justify-center items-cemter">
        <a href="/">Regresar</a>
        <h1 class="text-5xl">{name}</h1>
        <PokemonCard name={name} url={url} isBig = {true}/>
    </section>    
</MainLayout>
